:root {
  --main-bg-color: #DC0A2D;
  --secondary-bg-color: #f2f2f2;
  --main-screen-bg-color: #98cb98;
  --secondary-screen-bg-color: #9e9d9d;
  --main-buttons-color: #585858;
  --square-buttons-color: #7ca9f7;
}